* {
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: gray;
}
.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color:white;
}
.scene {
    padding: 20px;
    width: 200px;
    height: 250px;
    margin: 10px;
    perspective: 600px;
}
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card__face--front {
   
    background: linear-gradient(rgb(245, 245, 245), darkgreen);
    min-width: 200px;
    min-height: 250px;
    text-transform: uppercase;
  }
  
  .card__face--back {
    background:green;
    min-width: 200px;
    min-height: 250px;
    transform: rotateY(180deg);
  }
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  div.title {
    background-color: black;
    padding: 10rem;
    background-image: url(/images/leaves.jpg);
    background-repeat: repeat-x;
    text-shadow: 2px 1px black;
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 255, 255);
    max-height: 364px;
  }
  h1 {
    display: flex;
    justify-content: center;
    text-justify: center;
  }
  h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  h3 {
    color:white;
  }
  .theBadGodButton {
    background-color: black;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  .theGoodGodButton {
    background-color: black;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  .theGoodGodButton, .theBadGodButton a:hover {
    background-color: white;
    color: black;
  }
  
  .buttons {
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
  }