* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: peachpuff;
}
.mainHeader {
    /*background-color: black;*/
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;

}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure img {
    max-height: 12rem;
    
}
button {
    color: white;
    background-color: grey;
    max-width: 10 rem;
    max-height: 10 rem;

}