* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: green;
}
.mainHeader {
    background-color: peachpuff;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure img {
    max-height: 12rem;
}