body {
    background-color: black;
}
.container {
    display: flex;
}

.main {
    margin: 50px 170px 20px;

}


h1 {
    color: blueviolet;
    display: flex;
    justify-content: center;
    padding-top: 1rem;


}
a {
    text-decoration: none;
    font-size: 1.5rem;
}


li {
    list-style-type: none;
    
}


footer {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

}
/* add hover affect to li 